{% extends "base.html" %}

{% block page_title %}
   Home
{% endblock page_title %}

{% block content %}

   <div class="container mx-auto" >

      <div class="rounded-xl bg-gray-800 h-80 mt-32 mb-24 bg-full bg-center" style="background-image: url('https://www.waldorftowers.nyc/content/uploads/2023/09/HR__wadifc_peacock_0765_ret02-1582313996.jpg') ; background-size: cover; background-position: ;"></div>  
      
      {% for room in rooms %}
          {% include "partials/room_card.html" with room=room %}
   
      {% endfor %}

      <h5> 
      {% if page_obj.has_previous %}
         <a href ="?page={{page_obj.previous_page_number}}">Previous</a>
      {% endif %} 

      page{{page_obj.number}} of {{page_obj.paginator.num_pages}} 
      
      {% if page_obj.has_next %}
         <a href ="?page={{page_obj.next_page_number}}">Next</a>
      {% endif %}
    
    </h5> 
   </div>   

     

{% endblock content %}
